


@mixin button_white {
	background: $var4;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	padding: 17px 29px;
	
	&--text{
		font-family: 'Avenir-Regular';
		color: $text-color;
	}
	&--arrow{
		background-image: url(/assets/images/arrow_btn.png);
	}
	
}

@mixin button_rgb {
	background: $button_rgb;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	padding: 17px 29px;
	
	&--text{
		font-family: 'Avenir-Regular';
		color: $text-color--additional_3;
	}
}