@import "_reset.scss";
@import "mixin.scss";

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}
.nav {
  max-width: 1120px;
  display: flex;
  align-items: center;
  font-family: "Avenir-Regular";
  color: $text-color;
  margin-top: 66px;
  &__logo {
    margin-right: 121px;
  }
  &__links {
    margin-right: 45px;
    color: $text-color--aditional;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    font-family: "Avenir-Regular";
    padding-top: 2px;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;

    &:hover {
      background-size: 100% 2px;
    }

    &:active {
      color: $text-color;
      padding-top: 0;
    }

    &__list{
      display: flex;
      &--li{
        display: flex;
      }
    }
  }
  &__button {
    margin-left: 367px;
    @include button_white;

    &--arrow {
      margin-left: 20px;
    }
  }
}

.active-page {
  color: $text-color;
}
.header {
  background: url(/assets/images/nav__image.png) no-repeat;
  background-position: right bottom;
  max-height: 754px;

  &__text {
    margin-top: 138px;

    &--title {
      font-family: "Helvetica-bold";
      max-width: 645px;
      max-height: 184px;
      font-size: 80px;
      line-height: 110%;
    }
    &--paragraph {
      margin-top: 50px;
      max-width: 380px;
      max-height: 120px;
      @include paragraph;
    }
    &--button {
      margin-top: 57px;
      margin-bottom: 115px;
      @include button_rgb;
    }
  }
}

.high-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 560px;
  max-width: 1117px;
  padding: 32px 93px 24px 11px;
  background: $background_high-data;
  border-radius: 50px;
  margin-top: 102px;
  flex-wrap: wrap;

  &__text {
    max-width: 475px;
    min-height: 310px;
    margin-top: -8px;

    &--header {
      font-family: "Helvetica-roman";
      font-size: 40px;
      line-height: 130%;

      margin-bottom: 33px;
    }
    &--paragraph {
      max-width: 474px;
      max-height: 170px;
      color: $text-color--aditional;
      font-family: "Avenir-Regular";
      font-size: 18px;
      line-height: 160%;
    }
    
  }
}

.features {
  text-align: center;
  margin-top: 150px;
  &--header {
    @include header;
    margin-left: -150px;
  }

  &--paragraph {
    margin-top: 50px;
    display: inline-block;
    max-width: 584px;
    @include paragraph;
  }
  &__items {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
    grid-template-areas:
      "feature1_bg feature2_bg"
      "feature3_bg feature4_bg";

    &--box {
      max-width: 531px;
      max-height: 358px;
      text-align: left;
      display: flex;

      padding-top: 49px;
      padding-bottom: 50px;

      &__title {
        font-size: 24px;
        line-height: 130%;
        font-family: "Helvetica-roman";
      }

      &__paragraph {
        @include paragraph;
        font-size: 16px;
        max-width: 220px;
      }
      &__link {
        font-family: "Helvetica-roman";
        font-size: 16px;
        line-height: 160%;
        color: $text-color;
        display: flex;
        align-items: center;
      }

      &__img1 {
        padding-top: 20px;
        margin-right: 30px;
      }
      &__img2 {
        padding-top: 20px;
        margin: 0 30px 0 0;
        max-width: 241px;
        max-height: 185px;
      }
      &__img3 {
        margin-top: 70px;
        margin-right: 30px;
        max-width: 245px;
        max-height: 181px;
      }
      &__img4 {
        padding-top: 20px;
        margin-right: 30px;
        max-width: 230px;
        max-height: 201px;
      }
    }
  }
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  justify-content: space-between;
}
.feature1_bg {
  background: url(/assets/images/green_bg.svg) no-repeat right;
}
.feature2_bg {
  background: url(/assets/images/purple_bg.svg) no-repeat right;
}
.feature3_bg {
  background: url(/assets/images/pink_bg.svg) no-repeat right;
}
.feature4_bg {
  background: url(/assets/images/blue.svg) no-repeat right;
}


.testimonials {
  margin-top: 150px;
  padding: 109px 0 133px 0;
  max-width: 1118px;
  min-height: 709px;
  background: $button_rgb;
  border-radius: 50px;
  position: relative;
  &__header {
    position: absolute;
    font-size: 40px;
    line-height: 130%;
    font-family: "Helvetica-roman";
    color: $text-color--additional_3;
    margin: 0 0 0 93px;
  }
}

.responce {
  position: absolute;
  z-index: 2;
  top: 246px;
  left: 21%;
  max-height: 330px;
  max-width: 645px;

  background: $text-color--additional_3;
  box-sizing: border-box;
  box-shadow: 0px 20px 0px rgba(49, 23, 80, 0.3);
  border-radius: 20px;

  padding: 60px 70px;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.4fr 1.3fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "testimonials__box--avatar testimonials__box--title"
    ". testimonials__box";
  &__avatar {
    max-width: 90px;
    max-height: 90px;
  }
  &__title {
    font-family: "Avenir-Regular";
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    max-height: 51px;

    margin-top: 20px;

    &--link {
      font-size: 14px;
      line-height: 160%;
      color: $button_rgb;
    }
  }
  &__paragraph {
    font-family: "Avenir-Regular";
    font-size: 18px;
    line-height: 180%;
    color: $text-color;

    max-width: 385px;
  }
}
.testimonials__box--title {
  grid-area: testimonials__box--title;
}
.testimonials__box--avatar {
  grid-area: testimonials__box--avatar;
}
.testimonials__box {
  grid-area: testimonials__box;
}

.line {
  height: 2px;
  background: #9c69e2;
  opacity: 0.2;
  width: 100%;

  margin-top: 150px;
}
.footer {
  margin-top: 100px;
  margin-bottom: 96px;
  &__top {
    display: flex;
    align-items: center;
  }
  &__text {
    margin-right: 382px;
    &--header {
      @include header;
    }
    &--paragraph {
      @include paragraph;
      margin-top: 20px;
    }
  }
  &__button {
    @include button_rgb;
    background-color: $btn_rgb_2;
    margin-right: 30px;
  }
  &__button_white {
    @include button_white;
  }

  &__bottom {
    margin-top: 160px;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 0.45fr 0.47fr 0.7fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 30px 0px;
    grid-template-areas:
      ". . . ."
      ". . . .";

    &--logo {
      display: flex;
      flex-wrap: wrap;
      &__header {
        font-size: 20px;
        line-height: 160%;
        color: $text-color;
        font-family: "Avenir-Regular";

        margin-left: 20px;
      }
      &__img {
        max-width: 49px;
        max-height: 35px;
      }
    }

    &--header {
      font-size: 16px;
      line-height: 160%;
      color: $text-color;
      font-family: "Avenir-Regular";

      margin: 0;
    }
    &--info {
      max-width: 260px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 135px;
      min-width: 0;

      &__location {
        width: 335px;
        font-size: 16px;
        line-height: 180%;
        font-family: "Avenir-Regular";
        color: $text-color;
        margin-top: 10px;
      }
      &__phone {
        max-width: 150px;
        font-size: 16px;
        line-height: 180%;
        font-family: "Avenir-Regular";
        color: $text-color--aditional;
      }
    }
    &--links {
      margin-top: -30px;
      padding-top: 10px;
      &__li {
        font-size: 16px;
        line-height: 250%;
        color: $text-color;
        font-family: "Avenir-Regular";
      }
    }
  }
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  &__button {
    margin: 10px 5px 0;
     max-width: 50px;
    max-height: 50px;
  
  }
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: $social-button-size;
  height: $social-button-size;
  text-decoration: none;
  border-radius: 100%;
  background: $social-button-background;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: $social-button-transition-time;
  }

  &:focus,
  &:hover {
    color: $social-button-active-color;

    &::after {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      margin-left: calc(-50% - 1px);
    }
  }

  i,
  svg {
    position: relative;
    z-index: 1;
    transition: $social-button-transition-time;
  }

  i {
    font-size: $social-button-size * $social-button-icon-size;
  }

  svg {
    height: percentage($social-button-icon-size);
    width: percentage($social-button-icon-size);
  }

  @each $name, $color in $social-button-colors {
    &--#{$name} {
      color: $color;

      &::after {
        background: $color;
      }
    }
  }
}

@media (max-width: 1380px){
  .header{
    background-size: 70%;
  }
}

@media (max-width: 1280px){
  .header{
    margin: 0 auto;
    max-width: 900px;
    background-size: 80%;
    background-position:calc(100%-1000px);
  }
  .nav{
    justify-content: center;
    &__button{
      margin-left: 40px;
    }
    margin: 20px auto;
  }
  .wrapper{
    padding: 0 20px;
  }
  .high-data{
    max-width: 900px;
    margin: 30px auto;
    &__img{
      max-width: 300px;
    }

    &__text{
      &--header{
        font-size: 36px;
      }
    }

  }

  .testimonials{
    margin: 50px auto;
    max-width: 900px;
    padding: 70px 0 95px 0;
    &__header{
      margin-top: 40px;
    }
  }

  .responce{
    max-width: 500px;
    padding: 40px 50px;
  }

  .features{
    margin: 30px auto;
    max-width: 900px;
    &--header{
      margin: 0;
    }
    &__items{
      &--box{
        &__img1, &__img2, &__img3, &__img4{
          max-width: 200px;
          max-height: 160px;
        }
        &__title{
          font-size: 20px;
        }
        &__paragraph{
          font-size: 14px;
        }
      }
    }
  }

  .footer{
    margin: 30px auto;
    max-width: 900px;
    &__text{
      margin-right: 100px;
    }
    &__button{
      max-height: 80px;
    }
  }
    
}
  

@media (max-width: 1024px){
  .header{
    margin: 0 auto;
    max-width: 750px;
    background-size: 60%;
    
    &__text{
      &--title{
        font-size: 65px;
      }
      &--paragraph{
        font-size: 17px;
      }
    }

  }
  .nav{
    justify-content: center;
    &__button{
      margin-left: 40px;
    }
    margin: 20px auto;
  }
  .wrapper{
    padding: 0 20px;
  }
  .high-data{
    max-width: 600px;
    margin: 30px auto;
    padding: 15px auto;
    justify-content: center;

 
    &__img{
      max-width: 300px;
    }

    &__text{
      margin-left: 30px;
      text-align: center;
      &--header{
        font-size: 36px;
      }
    }

  }

  .testimonials{
    margin: 50px auto;
    max-width: 750px;
    padding: 70px auto;
    &__header{
      margin-top: 40px;
    }
  }

  .responce{
    max-width: 500px;
    margin-left: -30px;
    padding: 40px 50px;
  }

  .features{
    margin: 30px auto;
    max-width: 700px;
    &--header{
      margin: 0;
    }
    &__items{
      &--box{
        &__img1, &__img2, &__img3, &__img4{
          width: 0px;
          height: 0px;
        }
        &__title{
          font-size: 20px;
        }
        &__paragraph{
          font-size: 14px;
        }
      }
    }
  }

  .footer{
    margin: 30px auto;
    max-width: 900px;
    &__text{
      margin-right: 50px;
    }
    &__button{
      max-height: 80px;
    }
  }
}

@media (max-width: 720px){
  .header{
    margin: 0 auto;
    max-width: 500px;
    background-size: 60%;
    
    &__text{
      &--title{
        font-size: 65px;
      }
      &--paragraph{
        font-size: 17px;
      }
    }

  }
  .nav{
    max-width: 200px;
    justify-content: center;
    &__logo{
      margin-right: 30px;
    }
    &__button{
     display: none;
    }
    margin: 20px auto;
  }
  .wrapper{
    padding: 0 20px;
  }
  .high-data{
    max-width: 600px;
    margin: 30px auto;
    padding: 15px auto;
    justify-content: center;

    &__img{
      max-width: 200px;
    }

    &__text{
      margin-left: 20px;
      text-align: center;
      font-size: 16px;
      &--header{
        font-size: 27px;
      }
    }

  }

  .testimonials{
    margin: 50px auto;
    max-width: 500px;
    padding: 30px auto;
    &__header{
      margin-top: 40px;
    }
  }

  .responce{
    max-width: 400px;
    max-height: 400px;
    margin-left: -50px;
    padding: 40px 50px;
  }

  .features{
    margin: 30px auto;
    max-width: 500px;
    &--header{
      margin: 0;
    }
    &__items{
      &--box{
        &__img1, &__img2, &__img3, &__img4{
          width: 0px;
          height: 0px;
        }
        &__title{
          font-size: 20px;
        }
        &__paragraph{
          font-size: 14px;
        }
      }
    }
  }

  .footer{
    margin: 30px auto;
    max-width: 500px;

    &__text{
      margin-right: 50px;
    }
    &__button{
      max-height: 80px;
    }

    &__bottom{
      margin: 30px auto;
      max-width: 250px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 480px){
  .header{
    margin: 0 auto;
    max-width: 400px;
    background-size: 60%;
    
    &__text{
      &--title{
        font-size: 45px;
      }
      &--paragraph{
        font-size: 17px;
      }
    }

  }
  .nav{
    max-width: 200px;
    justify-content: center;
    &__logo{
      margin-right: 30px;
    }
    &__links{
      margin-right: 20px;
    }
    margin: 30px auto;
  }
  .high-data{
    max-width: 600px;
    max-height: 6000px;
    margin: 0px auto;
    padding: 15px auto;
    justify-content: center;

    &__img{
      max-width: 150px;
    }

    &__text{
      padding: 0 auto;
      text-align: center;
      &--paragraph{
        font-size: 15px;
      }
      &--header{
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

  }

  .testimonials{
    margin: 50px auto;
    margin-top: 20px;
    max-width: 300px;
    padding: 20px auto;
    &__header{
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  .responce{
    max-width: 270px;
    max-height: 400px;
    margin-left: -50px;
    padding: 40px 50px;

    &__paragraph{
      margin-top: -15px;
      font-size: 15px;
      line-height: 110%;
    }
  }

  .features{
    margin: 30px auto;
    max-width: 500px;

    &--header{
      margin: 0;
    }
    &__items{
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-left: 35px;
      &--box{
        &__img1, &__img2, &__img3, &__img4{
          width: 0px;
          height: 0px;
        }
        &__title{
          font-size: 20px;
        }
        &__paragraph{
          font-size: 14px;
        }
      }
    }
  }
  .footer{
    margin: 30px auto;
    max-width: 500px;

    &__text{
      margin-right: 0px;
      text-align: center;
    }
    &__button{
      display: none;
    }
    &__button_white{
      display: none;
    }
    &__bottom{
      margin: 30px auto;
      max-width: 250px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

